header{

    font-size: 1.35rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-weight: 600;
    
}

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-container{
    background-color: #3B7F23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 2px 10px;
    background-color: #3B7F23;
    font-weight: 500;
    color: #fff;
    height: 70%;

    & p{
        margin: 0px 10px;
    }

}

